{% extends 'base.html' %}
{% block mycontent %}
<div class="container bg-dark"><br>
<div class="col-lg-12  bg-light">
<div class="widget">
<ul class="list-unstyled float-left links">
<h3>Uni Acces</h3>
<li><a href="#" class="text-decoration-none">Home</a></li>
<li><a href="#" class="text-decoration-none">About</a></li>
<li><a href="#" class="text-decoration-none">Contact</a></li>
<li><a href="#" class="text-decoration-none">News</a></li>
<li><a href="#" class="text-decoration-none">Sign Up</a></li>
</ul>
</div>
</div>
<div class="col-lg-12 bg-light" style="height:200px;">
<div class="widget">
<h3>Contact</h3>
<address>Address: Uzbekistan, Namangan city, Chorsu</address>
<ul class="list-unstyled links mb-4">
<li><p>First telephone number: <a href="tel://+998999723880">+998(99)-972-3880</a></p></li>
<li><p>Second telephone number:<a href="tel://+998937050597">+998(93)-705-0597</a></p></li>
<li><p>Email poshta: <a href="namuniacces11@gmail.com">namuniacces11@gmail.com</a></p></li>
</ul>
</div>
</div><br>
</div>
{% endblock %}